.my-sidebar-container {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.my-sidebar-container h2 {
    color: #885811;
    font-size: 1.2rem;
    margin: 0 auto;
}